body{
    background-image: url('https://www.quantumblack.com/static/hero-home-66ad0082c5fa59b705aec799685a5a5e-6ded7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
 } 
 header {
     background-color: black;
     border: 0.5px solid maroon;
     border-radius: 20px;
     margin-bottom: 50px;
     color: maroon;
     font: 28px Papyrus, fantasy;
     min-width: 924px;
     display: block;
     min-height: 120px;
     margin-top: -3px;
     position: relative;
     left: -5px;
  }
 
  h1 {
     margin-right: 20px;
     
  }
  #bannerimage {
     float: left;
     width: 100px;
     text-align: right;
  }
  #bannerjpg {
    position: relative;
    left: 25%;
  }
  #bannerimage + div {
     text-align: right;
  }
  #bannerimage img {
     height: 100px;
     width: 100px;
     transform: rotateY(0deg);
     transition: transform 3s;
  }
  #bannerimage img:hover {
     transform: rotateY(360deg);
     border: hidden;
  }
  #bannerlogo {
     margin-right: 0;
  }
  .homelink {
     color: rgb(255, 255, 255);
     text-shadow: 3px 3px rgb(112, 5, 5);
     text-decoration: none;
     font-style: italic;
  }
  .transluscent-mat {
     width: 916px;
     margin: auto;
     padding-top: 0.1px;
  }
 
  #search input:focus {
     background-color: rgb(151, 151, 145);
  }
  div[id="search"] a{
     color: silver;
     font-family: Papyrus, fantasy;
     text-decoration: none;
 
  }
  div[id="search"] form{
     position: relative;
     left: -40px;
     top: -3px;
  }
  div p {
     color: white;
     font: 14px 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
     padding-left: 17px;
 } 
 .navigation {
     position: relative;
     left: -3.9%;
     margin-top: -5px;
     margin-bottom: 10px;
     width: 960px;
     overflow: hidden;
  }
  .nav {
     display: inline-block;
     color: white;
     background-color: black;
     border: 2px maroon solid;
     border-radius: 30px;
     width: 125px;
     text-align: center;
     padding: 10px;
     position: relative;
     left: -3.5px;
     box-shadow: 1px 1px 1px black;
  }
 
  #currentlink {
     pointer-events: none;
     cursor: default;
     color: #3399FF;
  }
  nav a:link {
     color: white;
     text-decoration: none;
  }
  nav a:visited {
     color: white;
     text-decoration: none;
  }
  nav a:hover {
     color: maroon;
     text-decoration: none;
  }
 
 
 footer{
    text-align: center;
    font-size: x-large;
    background-color: black;
    border: 0.5px solid maroon;
    border-radius: 20px;
    color: white;
    font: 28px Papyrus, fantasy;
    display: block;
    min-height: 50px;
    padding-top: 10px;
    position: relative;
    text-shadow: 3px 3px maroon;
    left: 212px;
    width: 920px;
 }
 fieldset{
   text-align: center;
   font: 28px Papyrus, fantasy;

   font-size:x-large ;
   border: 0.5px solid rgb(255, 255, 255);
   border-radius: 20px;
   color: lightgrey;
   font: bolder;
   font-family: monospace;
   display: block;
   position: relative;
   left: 212px;
   width: 870px;
   background-image: url('https://photo2.tinhte.vn/data/attachment-files/2018/04/4282728_oqitDqs.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
 h2{
    text-align: center;
    font-size: x-large;
    color: rgb(255, 255, 255);
    /* background-color: rgb(39, 37, 37); */
    text-shadow:3PX 3px maroon;
    font-family: cursive;
       
 }
 section{
   text-align: center;
   border: 0.1px solid black;
   border-radius: 2px;
   position: relative;
   left: 212px;
   width: 870px;
   background-image: url('https://www.quantumblack.com/static/hero-home-66ad0082c5fa59b705aec799685a5a5e-6ded7.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   color: blanchedalmond;
 }
.container {
    display: inline-block;
    font-family: Arial;
    width: 24.5%;
 }

 .container img {
    border-radius: 90%;
 } 
 .text-block {
   position: absolute;
   bottom: 20px;
   right: 20px;
   background-color: black;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
 }
#papa{
   color: rgb(255, 255, 255);
   font-size: 24px;
   font-weight: bolder;
   font: Papyrus, fantasy;
   text-shadow: 3px 3px maroon;

}
#mama{
   font-family: 'ZCOOL XiaoWei', serif;
}

#papa2{
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: bolder;
   font: Papyrus, fantasy;
   text-shadow: 3px 3px maroon;



}
.container2 img {
   border-radius: 30%;
   width: 75px;
   height: 75px;
} 
.container2 {
   display: inline-block;
   font:  Papyrus, fantasy;
   width: 20%;

}
#blu{
   color: darkcyan;
   font-weight: bolder;
}
#tag{
   color: darkcyan;
   font-weight: bolder;

}



 
 
