body{
    background-image: url('https://www.quantumblack.com/static/hero-home-66ad0082c5fa59b705aec799685a5a5e-6ded7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
 }
  
 /* The Header Styling  */
 
 header {
     background-color: black;
     border: 0.5px solid rgb(197, 11, 11);
     border-radius: 20px;
     margin-bottom: 50px;
     color: maroon;
     font: 28px Papyrus, fantasy;
     min-width: 924px;
     display: block;
     min-height: 120px;
     margin-top: -3px;
     position: relative;
     left: -5px;
  }
 
  h1 {
     margin-right: 20px;
  }
  #bannerimage {
     float: left;
     width: 100px;
     text-align: right;
  }
  #bannerjpg {
    position: relative;
    left: 25%;
  }
  #bannerimage + div {
     text-align: right;
  }
  #bannerimage img {
     height: 100px;
     width: 100px;
     transform: rotateY(0deg);
     transition: transform 3s;
  }
  #bannerimage img:hover {
     transform: rotateY(360deg);
     border: hidden;
  }
  #bannerlogo {
     margin-right: 0;
  }
  .homelink {
     color: maroon;
     text-shadow: 3px 3px white;
     text-decoration: none;
     font-style: italic;
  }
  .transluscent-mat {
     width: 916px;
     margin: auto;
     padding-top: 0.1px;
  }
 
  #search input:focus {
     background-color: rgb(151, 151, 145);
  }
  div[id="search"] a{
     color: silver;
     font-family: Papyrus, fantasy;
     text-decoration: none;
 
  }
  div[id="search"] form{
     position: relative;
     left: -40px;
     top: -3px;
  }
  div p {
     color: white;
     font: 14px 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
     padding-left: 17px;
 }
 
 
 /* The Navigation Styling  */
 
 .navigation {
     position: relative;
     left: -3.9%;
     margin-top: -5px;
     margin-bottom: 10px;
     width: 960px;
     overflow: hidden;
  }
  .nav {
     display: inline-block;
     color: white;
     background-color: black;
     border: 2px rgb(156, 11, 11) solid;
     border-radius: 30px;
     width: 125px;
     text-align: center;
     padding: 10px;
     position: relative;
     left: -3.5px;
     box-shadow: 1px 1px 1px black;
  }
 
  #currentlink {
     pointer-events: none;
     cursor: default;
     color: #3399FF;
  }
  nav a:link {
     color: white;
     text-decoration: none;
  }
  nav a:visited {
     color: white;
     text-decoration: none;
  }
  nav a:hover {
     color: maroon;
     text-decoration: none;
  }

  