fieldset{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-family: cursive;
    background-image: url('http://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

   
    


}
legend{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(126, 13, 13);
    font: 23px Papyrus, fantasy;
    text-align: center;
}
p{
   font-family: cursive;
}
label{
    margin-left: 130px;
    font-style: bolder;
    text-decoration: none;
    font-family: cursive;
    text-align: center;

    
}
#myList{
    
    cursor: pointer;
    font-size: 12px;

    
}
#button{
    cursor: pointer;
    color: rgb(253, 253, 253);
    text-align: center;
    margin-left: 422px;
    background-color: black;
    border: outset;
    border-color: maroon;
    font: 15px Papyrus, fantasy;
}
.slideshow-containerR {
    position: relative;
    margin-left: -100px;
    text-align: center;
    width: 360px;
    border-color: maroon;
   }
   .slideshow-containerH {
    position: relative;
    margin: left;
    text-align: center;
    margin-left: 210px;
    width: 360px;
 
   }
   .slideshow-containerC {
    position: relative;
    margin: right;
    text-align: center;
    width: 360px;
    margin-left: 517px;

 
   }
   .slideshow-containerA {
    position: relative;
    margin: auto;
    width: 360px;
    text-align: center;
    margin-left: 210px;

   }

   

.slideshow-containerD {
 position: relative;
 margin: auto;
 width: 360px;
 text-align: center;
 margin-left: -100px;

}
   body{
  background-image: url('https://www.quantumblack.com/static/hero-home-66ad0082c5fa59b705aec799685a5a5e-6ded7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* The Header Styling  */
header {
   background-color: black;
   border: 0.5px solid rgb(197, 11, 11);
   border-radius: 20px;
   margin-bottom: 50px;
   color: maroon;
   font: 28px Papyrus, fantasy;
   min-width: 924px;
   display: block;
   min-height: 120px;
   margin-top: -3px;
   position: relative;
   left: -5px;
}
h1 {
   margin-right: 20px;
}
#bannerimage {
   float: left;
   width: 100px;
   text-align: right;
}
#bannerjpg {
  position: relative;
  left: 25%;
}
#bannerimage + div {
   text-align: right;
}
#bannerimage img {
   height: 100px;
   width: 100px;
   transform: rotateY(0deg);
   transition: transform 3s;
}
#bannerimage img:hover {
   transform: rotateY(360deg);
   border: hidden;
}
#bannerlogo {
   margin-right: 0;
}
.homelink {
   color: maroon;
   text-shadow: 3px 3px white;
   text-decoration: none;
   font-style: italic;
}
.transluscent-mat {
   width: 916px;
   margin: auto;
   padding-top: 0.1px;
}
#search input:focus {
   background-color: rgb(151, 151, 145);
}
div[id="search"] a{
   color: silver;
   font-family: Papyrus, fantasy;
   text-decoration: none;
}
div[id="search"] form{
   position: relative;
   left: -40px;
   top: -3px;
}
div p {
   color: white;
   font: 14px 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   padding-left: 17px;
}
/* The Navigation Styling  */
.navigation {
   position: relative;
   left: -3.9%;
   margin-top: -5px;
   margin-bottom: 10px;
   width: 960px;
   overflow: hidden;
}
.nav {
   display: inline-block;
   color: white;
   background-color: black;
   border: 2px rgb(156, 11, 11) solid;
   border-radius: 30px;
   width: 125px;
   text-align: center;
   padding: 10px;
   position: relative;
   left: -3.5px;
   box-shadow: 1px 1px 1px black;
}
#currentlink {
   pointer-events: none;
   cursor: default;
   color: #3399FF;
}
nav a:link {
   color: white;
   text-decoration: none;
}
nav a:visited {
   color: white;
   text-decoration: none;
}
nav a:hover {
   color: maroon;
   text-decoration: none;
}
.TopMovies  {
  text-align: center;
  font-family: 'Srisakdi', cursive;
  color: white;
  font-size: x-large;
}
.TopMovies h1 {
  text-shadow: 5px 5px maroon;
}
#video {
  height: 380px;
}
/* Images slide show  */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  text-align: center;
 }
 /* Number text (1/10 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
 }
 /* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 }
 .active {
  background-color: maroon;
 }
 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
 }
h2{
  text-align: center;
  font-family: 'Srisakdi', cursive;
  color: white;
  font-size: xx-large;
  text-shadow: 5px 5px maroon;
}
footer{
  text-align: center;
  font-size: x-large;
  background-color: black;
  border: 0.5px solid rgb(197, 11, 11);
  border-radius: 20px;
  color: white;
  font: 28px Papyrus, fantasy;
  display: block;
  min-height: 50px;
  padding-top: 10px;
  position: relative;
  text-shadow: 3px 3px maroon;
  left: -5px;
}

#bayan{
    margin-left: 500px;
}